@model IEnumerable<WebBox.Models.OperariosModels>

@{
    Layout = null;
    int fila = 1;
}

<div class="responsiva_tabla">
    <table id="table_operarios" class="table-striped table-bordered tableSection table_consulta" cellspacing="0" width="100%">
        <thead>
            <tr style="background-color: #FF9A00; color: #fff">
                <th>Operario</th>
                <th>Nombre</th>
                <th class="text-center"><i class="fa fa-edit" aria-hidden="true" style="font-size: 16px"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr title="seleccione con doble Click para la edición" data-fila="@fila" data-referencia="@item.codigo">
                    <td>
                        <div id="idcodigo_@fila.ToString()">@item.codigo</div>
                    </td>
                    <td>
                        <div id="idnombre_@fila.ToString()">@item.nombre</div>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon glyphicon-edit editar_fila_operario text-center"
                           data-fila="@fila"
                           data-codigo="@item.codigo"
                           data-nombre="@item.nombre"
                           style="font-size: 22px; color: orange; cursor: pointer"></i>
                    </td>
                </tr>
                fila++;
            }
        </tbody>
    </table>
</div>


<script type="text/javascript" class="init">
    var fila_seleccionada = 0;
    var table = "";

    $(document).ready(function () {

        table = $('#table_operarios').DataTable({
            destroy: true,
            "bInfo": true,
            "bPaginate": true,
            "searching": true,
            "lengthoperario": [[10, 15, 45, 75, 105, 135, 165, 195, 225, 255, 285], [10, 15, 45, 75, 105, 135, 165, 195, 225, 255, 285]],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            },
            fixedHeader: {
                header: true,
                footer: true
            }
        });

        $('#table_operarios tbody').on('click', 'tr .borrar_fila_operario', function (e) {
            e.preventDefault();
            $("#modal_advertencia_eliminar").modal("show");
        });

        $('#table_operarios tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            $(".ediciones").removeAttr('disabled');
            $(".table_filatablecida").removeClass("table_filatablecida");
            $(this).addClass("table_filatablecida");
            fila_seleccionada = $(this).data("fila");
            operario = $("#idcodigo_" + fila_seleccionada).html();
        });

        $('#table_operarios tbody').on('click', '.editar_fila_operario', function (e) {
            //$("#abreModal_editar_operario").on('click', function (e) {
            e.preventDefault();
            $("#ajax_loader").css("display", "");

            fila_seleccionada = $(this).data("fila");
            
            var codigooperario = $(this).data("codigo");
            var nombreoperario = $(this).data("nombre");

            $("#modal_editaroperario").modal("show");
            $("#modal_editaroperario #codigooperario_edit").val(codigooperario);
            $("#modal_editaroperario #nombreoperario_edit").val(nombreoperario);

            $("#ajax_loader").css("display", "none");
        });

    });

</script>


