@model IEnumerable<WebBox.Models.PagosDModels>

@{
    /**/

    /**/

    Layout = null;
    int i = 0;
    double tabonos = 0;
    double ttotal = 0;
}


    <table id="table_pagospendientes_pagar" class="table table-striped table-bordered tableSection table_consulta" cellspacing="0" width="100%" style="margin-bottom:0">
        <thead>
            <tr style="background-color: #FF9A00; color: #fff">
                <th style="width:10%">
                    TD
                </th>
                <th style="width:15%">
                    Pedido
                </th>
                <th style="width:20%">
                    N°Doc
                </th>
                <th style="width:17%">
                    Fecha Pedido
                </th>
                <th style="width:18%" class="text-right">
                    Valor
                </th>
                <th style="width:18%" class="text-right">
                    Abono
                </th>
                <th style="width:2%" class="text-center">
                    <input type="checkbox" class="seleccionar_todos " />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                tabonos = tabonos + item.abono;
                ttotal = ttotal + item.total;
               
                <tr>
                    <td>
                        @item.tipodoc
                    </td>
                    <td>
                        @item.pedido
                    </td>
                    <td>
                        <div style="display:none">@item.numerodoc</div>
                        <button class="btn btn-danger btn-xs imprimirboleta"
                                data-registro="@item.pedido"
                                data-numerodoc="@item.numerodoc">
                            @item.numerodoc
                        </button>
                    </td>
                    <td>
                        @item.fecha
                    </td>
                    <td class="text-right">
                        @item.total.ToString("N0")
                    </td>
                    <td class="text-right">
                        @item.abono.ToString("N0")
                    </td>
                    <td class="text-center" title="Seleccionar Pago">
                        <input type="checkbox"
                               data-pedido="@item.pedido"
                               data-numerodoc="@item.numerodoc"
                               data-tipodoc="@item.tipodoc"
                               data-fecha="@item.fecha"
                               data-total="@item.total"
                               data-abonado="@item.abono"
                               class="pago_seleccionado text-center" />
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr style="background-color: #FF9A00; color: #fff">
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th class="text-right">
                    Totales
                </th>
                <th class="text-right">
                    @ttotal.ToString("N0")
                </th>
                <th class="text-right">
                    @*@tabonos.ToString("N0")*@
                </th>
                <th class="text-center">
                    <button class="btn btn-primary abre_modal_recuperacion btn-sm" title="Abre Modal de Ingreso">
                        <i class="glyphicon glyphicon-floppy-saved"></i>
                    </button>
                </th>
            </tr>
        </tfoot>
    </table>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        table_pagospendientes_pagar = $('#table_pagospendientes_pagar').DataTable({
            destroy: true,
            "bInfo": true,
            "bPaginate": false,
            "searching": true,
            "ordering": false,
            "scrollY": "800px",
            "scrollX": true,
            "scrollCollapse": true,
            "bLengthChange": false,
            //"lengthMenu": [[10, 45, 75, 105, 135, 165, 195, 225, 255, 285], [10, 45, 75, 105, 135, 165, 195, 225, 255, 285]],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Sin Datos",
                "sEmptyTable": "Sin Datos",
                "sInfo": " _START_ al _END_ de  _TOTAL_ ",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            },
            fixedHeader: {
                header: true,
                footer: true
            }
        });

        $('.seleccionar_todos').on('click', function (e) {
            if ($('.seleccionar_todos').prop('checked')) {
                $(".pago_seleccionado").prop("checked", true);
            } else {
                $(".pago_seleccionado").prop("checked", false);
            }
        });
        $('.abre_modal_recuperacion').on('click', function (e) {
            e.preventDefault();
            carrito = [];
            var c = 0;
            valor_formapago_temp_global = 0;


            $(".pago_seleccionado").each(function () {
                if ($(this).prop('checked')) {
                    c++;
                    var pedido = $(this).data("pedido");
                    var fecha = $(this).data("fecha");
                    var tipodoc = $(this).data("tipodoc");
                    var numerodoc = $(this).data("numerodoc");
                    var total = $(this).data("total");
                    var abonado = $(this).data("abonado");
                    var fecha_guarda = formato_fecha(fecha);//convierte y trae en yyyy-mm-dd, para guardar a la BD
                    var pagar = parseInt(total) - parseInt(abonado);
                    var carrito_recuperaciones = {
                        id: c.toString(),
                        tipodoc: tipodoc,
                        numerodoc: numerodoc,
                        fecha: fecha,
                        fecha_guardar: fecha_guarda,
                        abono: pagar,
                        pedido: pedido
                    }
                    carrito.push(carrito_recuperaciones);
                };
            });
            if (c == 0) {
                mostrar_msj_advertencia("Debe seleccionar al menos un Item");
                return false;
            }
            llenarCarritoRecuperacion();
            $("#modal_recuperaciones").modal("show");
            //$("#tabs_recuperacion").tabs("option", "active", 0);
            $('#tabs_recuperacion a[href="#recuperacion_tab"]').trigger('click');


        });
        $('#table_pagospendientes_pagar tbody').on('click', '.imprimirboleta', function (e) {
            e.preventDefault();
            var registro = $(this).data("registro");
            numerodoc_global = $(this).data("numerodoc");
            $("#loading").show();
            $.ajax({
                type: "POST",
                url: '/Pedidos/ok_Imprimir_Boletas/',
                data: JSON.stringify({ registro: registro }),
                contentType: "application/json; charset=utf-8",
                dataType: false,
                success: function (data) {
                    $("#loading").hide();
                    if (data.retornojson == "1") {
                        $("#modal_boleta").modal("show");
                        $("#pdfboleta").html("");
                        var iframe = $('<iframe/>', {
                            'class': 'pdfpreview', // some CSS class to set the width and height of the preview iframe
                            'name': 'myname',
                            'id': 'print-iframe',
                            'src': data.boletajson
                        });
                        $('#pdfboleta').html(
                            iframe
                        );
                        $("#divpartialImprimir_Boletas").html(data);
                        $("#id_email_destinatario").val(email_global);
                    } else {
                        mostrar_msj_error(data.mensajejson);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de Conexion");
                }
            });

        });

    });



</script>
