@model IEnumerable<WebBox.Models.PagosDModels>

@{
    /**/

    /**/

    Layout = null;
    int i = 0;
}

    <table id="table_pagospendientes" class="table table-striped table-bordered tableSection table_consulta" cellspacing="0" width="100%" style="margin-bottom:0">
        <thead>
            <tr style="background-color: #FF9A00; color: #fff">
                <th style="width:5%">
                    TD
                </th>
                <th style="width:9%">
                    Pedido
                </th>
                <th style="width:10%">
                    N°Doc
                </th>
                <th style="width:8%">
                    Fecha
                </th>
                <th style="width:10%" class="text-right">
                    Valor
                </th>
                <th style="width:14%">
                    N° Pago
                </th>
                <th style="width:11%">
                    Fecha Pago
                </th>
                <th style="width:11%" class="text-right">
                    Abono
                </th>
                <th style="width:11%" class="text-right">
                    Saldo
                </th>
                <th>
                    Anotaciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
            <tr>
                <td>
                    @item.tipodoc
                </td>
                <td>
                    @item.pedido
                </td>
                <td>
                    <div style="display:none">@item.numerodoc</div>
                    <button class="btn btn-danger btn-xs imprimirboleta"
                            data-numerodoc="@item.numerodoc"
                            data-registro="@item.registro">
                        @item.numerodoc
                    </button>
                </td>
                <td>
                    @item.fecha
                </td>
                <td class="text-right">
                    @item.total.ToString("N0")
                </td>
                <td class="text-center">
                    <div style="display:none">@item.comprobante</div>
                    <button class="btn btn-success btn-xs verformapago"
                            data-numerodoc="@item.numerodoc"
                            data-comprobante="@item.comprobante"
                            data-registro="@item.registro">
                        @item.comprobante
                    </button>
                </td>
                <td>
                    @item.fechapago
                </td>
                <td class="text-right">
                    @item.abono.ToString("N0")
                </td>
                <td class="text-right">
                    @item.pendiente.ToString("N0")
                </td>
                <td class="text-center">
                    <button id="id_anotaciones_@i" class="btn btn-danger btn-xs anotaciones" type="button" title="Actualizar seguimiento pagos" data-fila="@i" data-registro="@item.pedido">Notas</button>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr style="background-color: #FF9A00; color: #fff">
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                    Total
                </th>
                <th class="text-right">
                    @ViewData["total_saldo"]
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
   <script type="text/javascript" class="init">
        $(document).ready(function () {
            table_pagospendientes = $('#table_pagospendientes').DataTable({
                destroy: true,
                "bInfo": true,
                "bPaginate": false,
                "searching": true,
                "ordering": false,
                "scrollY": "800px",
                "scrollCollapse": true,
                "bLengthChange": false,
                "scrollX": true,
                //"lengthMenu": [[10, 45, 75, 105, 135, 165, 195, 225, 255, 285], [10, 45, 75, 105, 135, 165, 195, 225, 255, 285]],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Sin Datos",
                    "sEmptyTable": "Sin Datos",
                    "sInfo": " _START_ al _END_ de  _TOTAL_ ",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                },
                fixedHeader: {
                    header: true,
                    footer: true
                }
            });

            $('#table_pagospendientes tbody').on('click', '.verformapago', function (e) {
                e.preventDefault();
                var comprobante = $(this).data("comprobante");
                cargarDetalleFormaPago(comprobante);
                $("#modal_forma_pago").modal("show")
            });

            $('#table_pagospendientes tbody').on('click', '.imprimirboleta', function (e) {
                e.preventDefault();
                var registro = $(this).data("registro");
                numerodoc_global = $(this).data("numerodoc");
                $("#loading").show();
                $.ajax({
                    type: "POST",
                    url: '/Pedidos/ok_Imprimir_Boletas/',
                    data: JSON.stringify({ registro: registro }),
                    contentType: "application/json; charset=utf-8",
                    dataType: false,
                    success: function (data) {
                        $("#loading").hide();
                        if (data.retornojson == "1") {
                            $("#modal_boleta").modal("show");
                            $("#pdfboleta").html("");
                            var iframe = $('<iframe/>', {
                                'class': 'pdfpreview', // some CSS class to set the width and height of the preview iframe
                                'name': 'myname',
                                'id': 'print-iframe',
                                'src': data.boletajson
                            });
                            $('#pdfboleta').html(
                                iframe
                            );
                            $("#divpartialImprimir_Boletas").html(data);
                            $("#id_email_destinatario").val(email_global);
                        } else {
                            mostrar_msj_error(data.mensajejson);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        mostrar_msj_error("error de Conexion");
                    }
                });

            });

            $("#table_pagospendientes tbody").on('click', 'tr button.anotaciones', function (e) {
                e.preventDefault();
                var registro = $(this).data("registro");
                $("#ajax_loader").css("display", "");
                $.ajax({
                    type: "POST",
                    url: '/Pagos/Lee_Anotaciones_Pedido/',
                    traditional: true,
                    data: {
                        registro: registro
                    },
                    DataType: 'json',
                    success: function (data) {

                        if (data.retornoJson == "1") {
                            $("#ajax_loader").hide();
                            $("#modal_anotaciones").modal("show");
                            $("#registro_hidden").val(registro);
                            $("#modal_anotaciones #anotaciones_ant").val(data.anotacionesJson);
                            $("#modal_anotaciones #anotaciones_new").val("");
                        } else if (data.retornoJson == "-1") {
                            $("#ajax_loader").hide();
                            $("#modal_anotaciones").modal("hide");
                            mostrar_msj_error("error: El tiempo de sesión ha expirado");
                        } else {
                            $("#ajax_loader").hide();
                            $("#modal_anotaciones").modal("hide");
                            mostrar_msj_error("error interno: " + data.anotacionesJson);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        mostrar_msj_error("error: " + errorThrown);
                        //alert("errorThrown: " + errorThrown + "XMLHttpRequest: " + XMLHttpRequest + "textStatus: " + textStatus);
                    }
                });


            });

        });



    </script>
