@model IEnumerable<WebBox.Models.VehiculoModels>

@{
    /**/

    Layout = null;
    int fila = 1;
}

<table id="table_vehiculos" class="table table-striped table-bordered tableSection table_consulta" cellspacing="0" width="100%" style="margin-bottom:0 !important">
    <thead>
        <tr>
            <th style="width: 55%">Nombre</th>
            <th style="width: 35%">Patente</th>
            <th style="width: 5%" class="text-center">
            <th style="width: 5%" class="text-center">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            fila++;
            <tr data-fila="@fila">
                <td>
                    @item.nombre
                </td>
                <td>
                    @item.patente
                </td>
                <td class="text-center editar_vehiculo" title="Editar Vehiculo"
                    data-nombre="@item.nombre"
                    data-patente="@item.patente"
                    data-registro="@item.registro">
                    <i class="glyphicon glyphicon-edit" style="font-size: 18px;cursor: pointer" data-fila="@fila.ToString()"></i>
                </td>
                <td class="text-center eliminar_vehiculo" title="Eliminar Vehiculo"
                    data-registro="@item.registro">
                    <i class="glyphicon glyphicon-remove" style="font-size: 18px; cursor: pointer" data-fila="@fila.ToString()"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        var table = $('#table_vehiculos').DataTable({
            destroy: true,
            "bInfo": false,
            "bPaginate": false,
            "scrollX": true,
            "scrollY": "200px",
            "scrollCollapse": true,
            "searching": false,
            "lengthusuario": [[10, 15, 45, 75, 105, 135, 165, 195, 225, 255, 285], [10, 15, 45, 75, 105, 135, 165, 195, 225, 255, 285]],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            },
            fixedHeader: {
                header: true,
                footer: true
            }
        });
        $('#table_vehiculos tbody').on('click', '.eliminar_vehiculo', function (e) {
            e.preventDefault();
            var registro = $(this).data('registro');
            $("#modal_eliminar_maestro").modal("show");
            $("#modal_eliminar_maestro input[name=registro_hidden]").val(registro);
        });

        $('#table_vehiculos tbody').on('click', 'tr .editar_vehiculo', function (e) {
            e.preventDefault();
            var registro = $(this).data("registro");
            var nombre = $(this).data("nombre");
            var patente = $(this).data("patente");
            $("#modal_editar").modal("show");
            $("#registro_edit").val(registro);
            $("#patente_maestro_edit").val(patente);
            $("#vehiculo_maestro_edit").val(nombre);
        });
    });


</script>
