

@{
    Layout = null;

}

<div id="ajax_loader" style="position: absolute; left: 50%; top: 50%; z-index: 50000; display: none">
    <b>cargando ...</b>
    <img src="../../../images/loading_page.gif" width="20" height="20" />
</div>


@*<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header-azuloscuro top_tituloencabezado">
            Asignación de Pedido a Furgon
        </h3>
    </div>
</div>
<br />*@


<div class="row">
    <div class="col-lg-4">
        <h3 class="page-header-azuloscuro top_tituloencabezado" >
            @ViewBag.Title
        </h3>
    </div>
    <div class="col-lg-1" style="margin-top:20px !important">Periodo</div>
    <div class="col-lg-2"  style="margin-top:20px !important">
        <input type="number" class="form-control entero validate[required]" style="max-width: 80%" id="periodo" max="9999" min="2000" value="@DateTime.Today.Year" onkeydown="limit(this,4);" onkeyup="limit(this,4);">
    </div>
    <div class="col-lg-1 no-padding_right"  style="margin-top:20px !important">>&nbsp;&nbsp;Mes</div>
    <div class="col-lg-1"  style="margin-top:10px !important">
        <input type="number" class="form-control entero validate[required]" id="mes" max="12" min="1" value="@DateTime.Today.Month" onkeydown="limit(this,2);" onkeyup="limit(this,2);">
    </div>
    <div class="col-lg-1"  style="margin-top:20px !important">
        @*<button type="button" id="excel_libroinventariodeinsumos" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>*@
    </div>
    <div class="col-lg-2"  style="margin-top:20px !important">

    </div>
</div>

<div class="modal fade" id="modal_mostrar_documento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 95% !important">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="titulo_modal_h3 modal-title" id="myModalLabel">RECEPCION DE INSUMOS</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="numero_hidden" />
                <input type="hidden" id="registro_hidden" />

                <div id="dte_view_recepcion">
                    <div style="position: absolute; left: 50%; top: 50%; z-index: 1000;">
                        <b>cargando ...</b>
                        <img src="../../../images/loading_page.gif" width="20" height="20" />
                    </div>
                </div>
                <br />
                <div class="form-horizontal">
                    <div class="modal-footer">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-xs-1 center-block">
                                    <button type="button" id="id_cerrar" class="btn btn-danger pull-right" data-dismiss="modal" style="width:100%">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 80px">
    <div class="modal-dialog" style="min-width:80%">
        <div class="modal-content ">
            <div class="modal-header header_modal">
                <button type="button" class="close cerrar_ingresar" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="titulo_modal_h3 modal-title">Ver Detalle</h3>
            </div>
            <div class="modal-body">
                <div id="idPartialLibro_de_inventario_detallado"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_confirma_anulacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 95% !important">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="titulo_modal_h3 modal-title" id="myModalLabel">ANULACION RECEPCION</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="tipodoc_hidden" />
                <input type="hidden" id="numerodoc_hidden" />
                <input type="hidden" id="registro_hidden" />

                <div id="dte_view_anula_recepcion">
                    <div style="position: absolute; left: 50%; top: 50%; z-index: 1000;">
                        <b>cargando ...</b>
                        <img src="../../../images/loading_page.gif" width="20" height="20" />
                    </div>
                </div>
                <br />
                <div class="form-horizontal">
                    <div class="modal-footer">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-xs-3 col-sm-1 col-md-3">
                                    <button type="button" id="id_cerrar" class="btn btn-danger pull-left" data-dismiss="modal" style="width:100%">Cerrar</button>
                                </div>
                                <div class="col-xs-6 col-sm-1 col-md-6"></div>
                                <div class="col-xs-3 col-sm-1 col-md-3">
                                    <button type="button" id="id_aceptar_anulacion" class="btn btn-primary pull-right" style="width:100%">Confirmar Anulación</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-10">
        <div id="idPartialLibro_de_inventario" class="fresh-table"></div>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
</div>
<div class="modal fade" id="modal_anulaciondifitiva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 95% !important">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="titulo_modal_h3 modal-title" id="myModalLabel">AJUSTE DE INVENTARIO ANULADO</h3>
            </div>
            <div class="modal-body">
                <div id="dte_preview_anulado_definitivo" class="pdfpreview">
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-left" style="width:100%">Cancelar</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-inline pull-left">
                        <label id="label_email_cliente">Destinatario&nbsp;</label>
                        <input type="text" class="form-control" id="id_email_cliente" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <button type="button" id="ok_enviar_ajusteanulado" class="btn btn-primary pull-left" style="width:100%">Enviar</button>
                    </div>
                    <div id="id_esperando"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var periodo = "";
    var mes = "";
    var fila_global = 0;
    var registro_global = 0;
    var numero_global = 0;
    var table_notadeventa = "";
    var table_librodeinventario_detallado = "";
    $(document).ready(function () {


        periodo = $("#periodo").val();
        mes = $("#mes").val();

        listar_librodeinventario(periodo, mes);

        $("#excel_libroinventariodeinsumos").on('click', function () {

            periodo = $("#periodo").val();
            mes = $("#mes").val();
            if ($('.librodetallado').prop('checked')) {
                window.location.href = "/Inventario/Excel_Librodeinventario_Detallado?periodo=" + periodo + "&mes=" + mes;

            } else {
                window.location.href = "/Inventario/Excel_Librodeinventario?periodo=" + periodo + "&mes=" + mes;
            }
        });

        $('#modal_detalle').on('shown.bs.modal', function () {
            table_librodeinventario_detallado.columns.adjust().draw();
        });

        $("#ok_enviar_ajusteanulado").on('click', function (ev) {
            ev.preventDefault();

            $("#ok_enviar_ajusteanulado").prop("disabled", true);
            var html = '<div style="position: absolute; left: 50%; top: 50%; z-index: 1000;"><b>enviando....</b> ' +
                ' <img src="../../../images/loading_page.gif" width="20" height="20" /></div>'
            $("#id_esperando").css("display", "");
            $('#id_esperando').html(html);
            $("#ajax_loader_global").css("display", "");
            $.ajax({
                type: "POST",
                url: '/Inventario/Ok_enviar_email_inventarioAnulado/',
                traditional: true,
                data: { emailcliente: $("#id_email_cliente").val() },
                DataType: 'json',
                success: function (data) {
                    switch (data.retornojson) {
                        case "0":
                            $("#modal_confirmafactura").modal("hide");
                            mostrar_msj_advertencia("Solo se permite envio de documentos electronicos");
                            break;
                        case "1":
                            $("#ajax_loader_global").hide();
                            $("#modal_confirmafactura").modal("hide");
                            $("#label_email_cliente").css("display", "none");
                            $("#id_email_cliente").css("display", "none");
                            mostrar_msj_success("Boleta enviada exitosamente !!");
                            break;
                        default:
                            mostrar_msj_error(data.mensajejson);
                            break;
                    }
                    $("#ok_enviar_ajusteanulado").prop("disabled", false);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error: " + errorThrown);
                    //alert("errorThrown: " + errorThrown + "XMLHttpRequest: " + XMLHttpRequest + "textStatus: " + textStatus);
                }
            });
        });

        $("#id_aceptar_anulacion").on('click', function (ev) {
            ev.preventDefault();
            $("#modal_confirma_anulacion").modal("hide");
            $("#modal_anulaciondifitiva").modal("show");
            $('#dte_view_recepcion').css('background', 'url(../../../images/loading_page.gif) center center no-repeat');

            $("#ajax_loader").css('display', '');
            $.ajax({
                type: "POST",
                url: '/Inventario/Anular_inventario/',
                traditional: true,
                data: {
                    registro: registro_global
                },
                DataType: 'json',
                success: function (data) {
                    $("#ajax_loader").css('display', 'none');
                    $("#modal_confirma_anulacion").modal("hide");
                    switch (data.retornoJson) {
                        case "1":
                            //mostrar_msj_success("Documento anulado correctamente !!");
                            var iframe = $('<iframe/>', {
                                'class': 'pdfpreview', // some CSS class to set the width and height of the preview iframe
                                'name': 'myname',
                                'id': 'print-iframe',
                                'src': data.documentorAnulacionAjusteJson
                            });
                            $('#dte_preview_anulado_definitivo').css('background', 'url(../../../images/loading_page.gif) center center no-repeat');
                            $('#dte_preview_anulado_definitivo').html(iframe);

                            listar_librodeinventario(periodo, mes);

                            break;
                        case "-1":
                            mostrar_msj_error(data.mensajeJson);
                            break;
                        default:
                            mostrar_msj_error(data);
                            break;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error: " + errorThrown);
                    //alert("errorThrown: " + errorThrown + "XMLHttpRequest: " + XMLHttpRequest + "textStatus: " + textStatus);
                }
            });


        });

        $("#periodo").bind('keyup mouseup', function () {
            $("#idPartialLibro_de_inventario").html("");
            var periodo = $("#periodo").val();
            var mes = $("#mes").val();
            listar_librodeinventario(periodo, mes);
        });

        $("#periodo").bind('keyup mousedown', function () {
            $("#idPartialLibro_de_inventario").html("");
            var periodo = $("#periodo").val();
            var mes = $("#mes").val();
            listar_librodeinventario(periodo, mes);

        });

        $("#mes").bind('keyup mouseup', function () {
            $("#idPartialLibro_de_inventario").html("");
            var periodo = $("#periodo").val();
            var mes = $("#mes").val();
            listar_librodeinventario(periodo, mes);
        });

        $("#mes").bind('keyup mousedown', function () {
            $("#idPartialLibro_de_inventario").html("");
            var periodo = $("#periodo").val();
            var mes = $("#mes").val();
            listar_librodeinventario(periodo, mes);
        });


    });

    function listar_librodeinventario(periodo, mes) {
        var url_action = '@Html.Raw(Url.Action("partialLibro_de_Inventario", "Inventario", new { periodo = "_periodo", mes = "_mes" }))';
        url_action = url_action.replace("_periodo", periodo).replace("_mes", mes);
        $("#ajax_loader").css("display", "");
        $.ajax({
            contentType: false,
            processData: false,
            type: 'POST',
            url: url_action,
            success: function (result) {
                $("#ajax_loader").hide();
                if (result == -1) {
                    mostrar_msj_error_volverIniciar("Sus variable de Sessión ha expirado, debe volver a loguearse", "/../Acceso/Login");

                } else {
                    $("#idPartialLibro_de_inventario").html(result);
                }
            }
        });
        }

        function listar_librodeinventario_detallado(registro) {
            var url_action = '@Html.Raw(Url.Action("partialLibro_de_Inventario_Detallado", "Inventario", new { registro = "registro_" }))';
            url_action = url_action.replace("registro_", registro);
            $("#ajax_loader").css("display", "");
            $.ajax({
                contentType: false,
                processData: false,
                type: 'POST',
                url: url_action,
                success: function (result) {
                    $("#ajax_loader").hide();
                    if (result == -1) {
                        mostrar_msj_error_volverIniciar("Sus variable de Sessión ha expirado, debe volver a loguearse", "/../Acceso/Login");
                    } else {
                        $("#idPartialLibro_de_inventario_detallado").html(result);
                    }
                }
            });
    }

    function limit(element, max_chars) {

        if (element.value.length > max_chars) {
            element.value = element.value.substr(0, max_chars);
        }
    }

</script>

